<style>

</style>

<h1>Hello bookmakr!</h1>

<!-- url 파라미터로 받기 -->

urltt: {{ include.url }}

<figure id="book-figure">
    <a href="{{include.url}}" class="bookmark source">
        <div class="bookmark-info">
            <div class="bookmark-text">
                <div class="bookmark-title">{{include.url.title}}</div>
                <div class="bookmark-description">desc if desc, else content</div>
            </div>
        </div>
        <div class="bookmark-href">
            <img src="" class="icon bookmark-icon" /> {{include.url}} </div>
        </div>
    </a>
</figure>

<p id="fetch-test"></p>

<p id="caefd352-77b4-4815-a594-e0b2466fbde0" class=""></p>
<figure id="f9ce5440-3148-41f7-984f-b5bbe00b13f1">
    <a href="https://sunmon.github.io/2020-09-05-TIL/" class="bookmark source">
        <div class="bookmark-info">
            <div class="bookmark-text">
                <div class="bookmark-title">2020-09-05 TIL | NOT_NULL</div>
                <div class="bookmark-description">
                    Javascript 개발환경 💡 자바스크립트 개발환경 오늘 배운 것 :
                    자바스크립트 개발에 주로 쓰이는 도구를 간략하게 적어본다. 깃Git : 협업
                    &amp; 버전 컨트롤 도구. 노드Node : 브라우저 밖에서 자바스크립트
                    실행할수있게 해주는 도구 걸프Gulp : 빌드 도구. 반복적인 작업을
                    자동화하는데 쓰인다. 바벨Babel: 트랜스컴파일러. ES6 → ES5 코드로 변환.
                    ES린트ESLint: 코드 보푸라기 제거.
                </div>
            </div>
            <div class="bookmark-href">
                <img src="https://sunmon.github.io/favicon.ico"
                    class="icon bookmark-icon" />https://sunmon.github.io/2020-09-05-TIL/
            </div>
        </div>
        <img src="https://sunmon.github.io/assets/img/blog-image.png" class="bookmark-image" />
    </a>
</figure>
<p id="3c74706d-c18b-4207-9564-a66da5dd1c7d" class=""></p>
<p id="fbf2474e-4899-4899-b677-6ad9eeff0b9b" class=""></p>



<script>
fetch("http://sunmon.github.io/", {
  headers: {
    "Content-Type": "application/json",
  },
})
  .then(function (response) {
    return response.json();
  })
  .then(function (myJson) {
    console.log(myJson);
  });

</script>
