
.categories {
    @include center(rem(800px));



    .category-list {
        @include center(rem(800px));
        @include mainFont(400);
        font-size: rem(18px);
        margin: rem(30px) auto;
        line-height: rem(40px);
        letter-spacing: 0.025rem;
        padding: 0 rem(10px);

        @include media(">=sm") {
            font-size: rem(22px);
            padding: 0;
        }

        a {
            // font-size: rem(14px);
            color: $primaryDark;
            display: inline-block;
            border: 1px solid $primaryDark;
            border-radius: rem(5px);
            margin: rem(10px);
            text-decoration: none;

            @include media(">=sm") {
                border-width: 2px;
            }

            &:hover {
                color: $accentDark;
                background-color: $primaryDark;
            }

            overflow: hidden;
        }

        .category-name {
            line-height: rem(40px);
            display: inline-block;
            padding: 0 rem(5px);
            margin-right: 0;
            text-align: center;
        }

        .counter {
            background: $themeColor;
            color: $lightGray;
            line-height: rem(40px);
            display: inline-block;
            padding: 0 rem(5px);
            margin-left: 0;
        }

        
        
    }

    a.post-anchor {
        display: block;
        height: rem(50px);
        @include media(">=sm") {
          height: rem(80px);
        }
    }

    .category-postings {

        .flex-grid {
            .box-item {
                min-width: 29%;
            }
        }

        h2 {
            color: $primaryDark;
            margin: 0;
            padding: 0;
            // color: red; 
        }

        .box-item:hover .box-body time {
            color: darken($lightGray, 50%);
        }

    }

    .title-category {
        @include mainFont(400);
        @include center(rem(800px));
        color: $primaryDark;
        border-bottom: 1px solid darken($lightGray, 10%);
        text-transform: none;
        h2 {
            display: inline-block;
        } 

        a {
            font-size: rem(18px);
            @include media(">=sm"){
                font-size: rem(22px);
            }
        }
    }

    

}