---
layout: default
title: Category
description: Show all categories
permalink: /category/
---

<!-- TODO: css  post-content fullwidth 참고 -->
<div class="home categories post-content fullwidth" >
    <h1 class="page-title">Category</h1>
    <!--TODO: 카테고리별 이름, 페이지 개수 표시 인라인으로 -->
    <!-- TODO: css 꾸미기 -->
    <div class="category-list">
        {% assign category_list = site.categories %}
            {% for category in category_list %}
            <!-- 카테고리명, 개수 -->
            <a href="#{{category[0]  | slugify }}">
                <span class="category-name">{{category[0]}}</span>
                <span class="counter">{{category[1].size}}</span>
            </a>
            {% endfor %}
        {% assign category_list = nil %}
    </div>
    <hr>
    <!-- TODO: 카테고리별 최근글 3개까지, 카테고리 누르면 해당 카테 모아놓은걸로 이동 -->
    <div class="category-postings">
        {% assign category_list = site.categories %}
        {% for category in category_list %} 
        <a class="post-anchor" id="{{ category[0] | slugify }}"></a>
        <div class="title-category">
            <h2>{{category[0]}}</h2>
            <a href="{{ site.baseurl }}/{{ site.categories_folder | default: 'category' }}/{{category[0]}}">more</a>
        </div>
        <div id="grid" class="row flex-grid">
            {% for post in category[1] limit: 3 %}
            <article class="box-item">
            <div class="box-body">
                <!-- NOTE: post 이미지가 있을때만 보여줄까? -->
                {% comment %} 
                {% raw %} {% if post.image %} {% endraw %} 
                {% endcomment %}
                <a class="cover" href="{{ post.url | prepend: site.baseurl }}">
                    {% include loader.html %}
                    {% if post.optimized_image %}
                    <img src="/assets/img/placeholder.png" width="100%" data-url="{{ post.optimized_image }}"
                        class="preload">
                    <noscript>
                        <img src="{{ post.optimized_image }}" width="100%">
                    </noscript>
                    {% elsif post.image %}
                    <img src="/assets/img/placeholder.png" width="100%" data-url="{{ post.image }}" class="preload">
                    <noscript>
                        <img src="{{ post.image }}" width="100%">
                    </noscript>
                    {% else %}
                    <script>alert("123");</script>
                    <img src="/assets/img/off.jpg" width="100%">
                    <img src="/assets/img/placeholder.png" width="100%" data-url="/assets/img/off.jpg" class="preload">
                    <noscript>
                        <img src="/assets/img/off.jpg" width="100%">
                    </noscript>
                    {% endif %}
                    {% include new-post-tag.html date=post.date %}
                    {% include read-icon.html %}
                </a>
                {% comment %} 
                {% raw %} {% endif %} {% endraw %}
                {% endcomment %}
                <div class="box-info">
                    <time datetime="{{ post.date | date_to_xmlschema }}" class="date">
                        {% include date.html date=post.date %}
                    </time>
                    <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">
                        <h2 class="post-title">
                            {{ post.title }}
                        </h2>
                    </a>
                </div>
            </div>
            </article>
            {% endfor %}
        </div>
        {% endfor %}
        {% assign category_list = nil %}
    </div>

</div>